JMatIO/build/*
JMatIO/prod/com/jmatio/types/MLSingle.java
JMatIO/prod/com/jmatio/types/MLDouble.java
JMatIO/test/com/jmatio/types/ML*Int*Test.java
JMatIO/prod/com/jmatio/types/ML*Int32.java
JMatIO/prod/com/jmatio/types/ML*Int16.java
JMatIO/prod/com/jmatio/types/ML*Int64.java
JMatIO/prod/com/jmatio/types/MLInt*.java
JMatIO/test/com/jmatio/types/MLSingleTest.java
JMatIO/test/com/jmatio/types/MLDoubleTest.java
*.hex
matfile_format*.pdf
